# LangChain Core
langchain<0.3
langchain-core>=0.2,<0.3

# OpenAI Integration
langchain-openai
openai

# Anthropic Integration
langchain-anthropic

# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub

# Environment Variable Management
python-dotenv

# NVIDIA Integration
langchain-nvidia-ai-endpoints

# Machine Learning Utilities
numpy
scikit-learn

